* {
    margin: 0;
    padding: 0;
}

.actions {
    display: flex;
    align-items: center;
}

.actions input {
    height: 100%;
}

.header {
    align-items: center;
    overflow: hidden;
    background-color: #14213D;
    padding: 20px 10px;
    display: flex;
    gap: 16px;
}

header .back-arrow i {
    font-size: 24px;
    color: #14213D;
}

header .back-arrow i:hover {
    cursor: pointer;
    color: #FCA311;
}

header .logo {
    margin: 0;
    font-weight: bold;
    font-size: xx-large;
    color: #14213D;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header .logo:hover {
    color: #FCA311;
}

.header-menus {
    margin-top: 32px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26vw;
    padding: 20px;
    background-color: #E5E5E5;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}


.header a.logo {
    color: #FCA311;
    font-size: 20pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.header a.logo:hover {
    color: #FFFFFF;
}

header input {
    border-radius: 8px;
    border: none;
    box-shadow: none;
    font-weight: bold;
    width: 24vw;
    padding-left: 8px;
    padding-right: 8px;
}

header input:focus {
    border: 2px solid #FCA311;
    outline: none;
}

div i.faMagnifyingGlass {
    color: #FCA311;
    align-self: center;
    font-size: 24px;
}


.nav-menu a {
    padding: 10px;
    float: left;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 4px;
}

nav a.ativo {

    background-color: #E5E5E5;
    color: #14213D
}

.nav-menu a:hover {
    background-color: #ddd;
    color: #FCA311;
}


nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
}


nav div {
    gap: 12px;
    display: flex;
}